@font-face {
    font-family: DeveloperGFont;
    src: url(fonts/JF-Flat-regular.ttf);
    font-weight: bold;
}

*{
    font-family:DeveloperGFont;
}


.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-family: DeveloperGFont !important;
}

tr {
    text-align: center;
    vertical-align:middle;
}

th {
    text-align: center;
}
.table td, .table th {
    padding: 10px;
    vertical-align: middle;
    border-top: 1px solid #e9ecef;
    font-size: 12px;
}
.color-table.success-table thead th {
    background-color: #00c292;
    color: #fff;
    font-size: 11px;
}
.form-control {
    font-size: 11px;
}
.btn:not(:disabled):not(.disabled) {
    cursor: pointer;
    font-size:11px;
}
.h4, h4 {
    font-size: 14px;
}