@{

    //success messages
    var successMessages = new List<string>();
    if (TempData[string.Format("YN.notifications.Success")] != null)
    {
        successMessages.AddRange(TempData[string.Format("YN.notifications.Success")] as IList<string>);
    }
    if (ViewData[string.Format("YN.notifications.Success")] != null)
    {
        successMessages.AddRange(ViewData[string.Format("YN.notifications.Success")] as IList<string>);
    }


    //error messages
    var errorMessages = new List<string>();
    if (TempData[string.Format("YN.notifications.Error")] != null)
    {
        errorMessages.AddRange(TempData[string.Format("YN.notifications.Error")] as IList<string>);
    }
    if (ViewData[string.Format("YN.notifications.Error")] != null)
    {
        errorMessages.AddRange(ViewData[string.Format("YN.notifications.Error")] as IList<string>);
    }
}
@foreach (var message in successMessages)
{
    <div class="alert alert-success" style="font-size: 12px;width: 100%;text-align: right;">
        <strong>@message</strong> 
    </div>
}
@foreach (var message in errorMessages)
{
    <div class="alert alert-danger" style="font-size: 12px;width: 100%;text-align: right;">
        <strong>@message</strong>
    </div>
}
